<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>HS Bank</title>
</head>
<body>
<div id="title">
    <center>
        <h1>Welcome to HS Bank</h1>
    </center>
</div>
<div id = "options">
    <center>
        <div id = "DepositForm">
            <form action = "/depositForm" method = "GET">
                <table><tbody><tr><td><input type = "submit" value = "Deposit Form"></td></tr></tbody></table>
            </form><br>
        </div>
        <div id = "WithdrawForm">
            <form action = "/withdrawForm" method = "GET">
                <table><tbody><tr><td><input type = "submit" value = "Withdraw Form"></td></tr></tbody></table>
            </form><br>
        </div>
        <div id = "GetTransactions">
            <form action = "/getTransactions" method = "POST">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <input type = "submit" value = "Get Transactions"><br>
                            </td>
                            <td>
                                <input type = "text" id = "accountNumber" name = "accountNumber">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </center>
</div>
</body>
</html>